{% extends "_layouts/cp" %}

{% import '_includes/forms' as forms %}

{% set title = "MaxCDN"|t %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'home' %}

{% set extraPageHeaderHtml %}
<div class="buttons right">
	<a href="{{ siteUrl }}{{ craft.config.cpTrigger }}/maxcdn/cache" class="btn submit" data-icon="settings" role="button">Manage Cache</a>
</div>
{% endset %}

{% set content %}

{{
	forms.selectField({
		label: "Zone",
		name: 'zone_id',
		instructions: 'Select the zone that you\'d like to clear.',
		options: options
	})
}}

<input type="hidden" name="action" value="maxCDN/purgeCache">

<input type="submit" class="btn submit" value="Purge">

{% endset %}