{% extends "_layouts/cp" %}
{% set title = "MaxCDN"|t %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a href="{{ url('maxcdn/cache') }}" class="btn" data-icon="settings" role="button">Manage Cache</a>
	</div>
{% endset %}

{% set message = craft.session.getFlash('cacheCleared') %}

{% set sidebar %}
	<nav>
		<ul>
			<li><a href="{{ url('maxcdn') }}" class="sel">Files</a></li>
			<li><a href="{{ url('maxcdn/zones') }}">Zones</a></li>
		</ul>
	</nav>
{% endset %}


{% set content %}
	<table class="data fullwidth">
		<thead>
			<tr>
				<th scope="col">Filename</th>
				<th scope="col">Cache Date</th>
				<th scope="col">Hits</th>
				<th scope="col">Size</th>
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
			<tr>
				<td>{{ file.uri }}</td>
				<td>{{ file.timestamp|date('M d, Y') }}</td>
				<td>{{ file.hit }}</td>
				<td>{{ file.size }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endset %}