{% extends "_layouts/cp" %}

{% set title = "MaxCDN"|t %}

{% set tabs = {
    first: { label: "Files"|t, url: url('maxcdn') },
    second: { label: "Zones"|t, url: url('maxcdn/zones') },
} %}

{% set extraPageHeaderHtml %}
<div class="buttons right">
	<a href="{{ url('maxcdn/cache') }}" class="btn submit" data-icon="settings" role="button">Manage Cache</a>
</div>
{% endset %}

{% set content %}

<table class="data fullwidth">
	<thead>
		<tr>
			<th scope="col">Filename</th>
			<th scope="col">Cache Date</th>
			<th scope="col">Hits</th>
			<th scope="col">Size</th>
		</tr>
	</thead>
	<tbody>
		{% for file in files %}
		<tr>
			<td>{{ file.uri }}</td>
			<td>{{ file.timestamp|date('M d, Y') }}</td>
			<td>{{ file.hit }}</td>
			<td>{{ file.size }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endset %}